@font-face {
	font-family: 'entypo-social';
	src:url('../fonts/entypo-social.eot');
	src:url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo-social.woff') format('woff'),
		url('../fonts/entypo-social.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo-social';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'entypo-social';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-br:before {
	content: "\21";
}
.icon-bq:before {
	content: "\22";
}
.icon-bp:before {
	content: "\23";
}
.icon-bo:before {
	content: "\24";
}
.icon-bn:before {
	content: "\25";
}
.icon-bm:before {
	content: "\26";
}
.icon-be:before {
	content: "\27";
}
.icon-bd:before {
	content: "\28";
}
.icon-bc:before {
	content: "\29";
}
.icon-bb:before {
	content: "\2a";
}
.icon-ba:before {
	content: "\2b";
}
.icon-az:before {
	content: "\2c";
}
.icon-at:before {
	content: "\2d";
}
.icon-as:before {
	content: "\2e";
}
.icon-ar:before {
	content: "\2f";
}
.icon-aq:before {
	content: "\30";
}
.icon-ap:before {
	content: "\31";
}
.icon-an:before {
	content: "\32";
}
.icon-af:before {
	content: "\33";
}
.icon-ae:before {
	content: "\34";
}
.icon-ad:before {
	content: "\35";
}
.icon-ac:before {
	content: "\36";
}
.icon-ab:before {
	content: "\37";
}
.icon-aa:before {
	content: "\38";
}
.icon-bl:before {
	content: "\39";
}
.icon-bk:before {
	content: "\3a";
}
.icon-bj:before {
	content: "\3b";
}
.icon-bi:before {
	content: "\3c";
}
.icon-bh:before {
	content: "\3d";
}
.icon-bg:before {
	content: "\3e";
}
.icon-bf:before {
	content: "\3f";
}
.icon-bt:before {
	content: "\40";
}
.icon-ay:before {
	content: "\41";
}
.icon-ax:before {
	content: "\42";
}
.icon-aw:before {
	content: "\43";
}
.icon-ao:before {
	content: "\44";
}
.icon-av:before {
	content: "\45";
}
.icon-au:before {
	content: "\46";
}
.icon-am:before {
	content: "\47";
}
.icon-al:before {
	content: "\48";
}
.icon-ak:before {
	content: "\49";
}
.icon-aj:before {
	content: "\4a";
}
.icon-ai:before {
	content: "\4b";
}
.icon-ah:before {
	content: "\4c";
}
.icon-ag:before {
	content: "\4d";
}
